.book-slide {
    display: grid;
    grid-template-columns: 60% 40%;
}
@media(max-width: 576px) {
    .book-slide {
        display: grid;
        height: auto;
        grid-template-columns: 100%;
    }
    
}
.left-section .right-section{
    display: inline-block;
    vertical-align: top;
    height: 100%;
}


.left-section .book-information, .right-section .book-cover {
    position: relative;
    width: fit-content;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0px auto;
}

.book-item {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 2em); /*TODO: Find a better way*/
    height: calc(100% - 2em);
    margin: 1em;
    padding: 1em;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
}

.wrapper {
    margin: 0px auto;
}

.book-title {
    width: fit-content;
    margin: 0px auto;
    text-align: center;
    color: #fff;
    font-size: 3em;
}

.book-authors {
    text-align: center;
    width: fit-content;
    margin: 0px auto;
    color: #ecf0f196;
    font-size: 1em;
}

.book-tags {
    display: inline-flex;
    padding: 0.25em;
    margin-right: 0.5em;
    color: #ecf0f196;
    background-color: #582e69;
    border-radius: 0.35em;
    font-size: 0.8em;
}

.book-description {
    width: fit-content;
    text-align: center;
    margin: 0px auto;
    color: #ecf0f196;
    font-size: 1em;
}

.book-open-btn {
    width: fit-content;
    margin: 0.5em auto;
}

.book-cover img {
    width: 12.5rem;
    border: #fff 0.25em solid;
    
}