<div class="book-slide" id="book-slide">
    <div class="left-section">
        <div class="book-information">
            <p class="book-authors" *ngIf="book.authors">{{ book.authors }}</p>
            <h2 class="book-title">{{ book.title }}</h2>
            <p class="book-description">{{ book.description }}</p>
            <button class="btn book-open-btn" (click)="openPreview()">Read</button>
        </div>
    </div>
    <div class="right-section">
        <div class="book-cover" id="book-cover">
            <img src="assets/img/demo-cover.jpg" alt="">
        </div>
    </div>
</div>