.book-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@media(max-width:1080px) {
    .book-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width:965px) {
    .book-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:730px) {
    .book-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:490px) {
    .book-list {
        grid-template-columns: repeat(1, 1fr);
    }
}